backcall
click
DAWG-Python
decorator
docopt
ipython
ipython-genutils
jedi
joblib
langdetect
networkx
nltk
nose
numpy
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pymorphy3
pymorphy3-dicts-ru
pymorphy3-dicts-uk
pyspark
six
tqdm
traitlets
wcwidth
elasticsearch
